html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 40%;
    left: 40%;
    width: 250px; 
    height: 200px; 
    background-color: rgb(175, 166, 166, 0.95); 
    text-align: center;
    border: 1px solid black;
}

.modal-content div {
    text-align: center;
    padding: 10px 0px;
}

.close {
    color: rgb(29, 27, 27);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: 0px;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.checkboxFighter {
  margin: auto;
}

input[type='button'] {
    border: 2px solid #050505;
    background-color: red;
    color: black;
    width: 100px;
}

.btnStart {
    position: relative;
    top: 30px;
    height: 50px;
    font-size: 12pt;
}

#id_modal_save {
    background-color: rgb(23, 161, 23);
}
  
.healthContainer {
    visibility: hidden;
    width: 100%; 
    background-color: #ddd; 
    margin: 5px;
}
  
.healthProgress {
    text-align: right; 
    width: 100%;
    height: 20px;
    /* padding: 10px;  */
    color: white; 
    background-color: red;
}

.btnHit {
    opacity: 0;
    margin: auto;
    width: 60%;
}